body{
    margin: 0%;
    padding: 0%;
}
   
.header {
    display: flex;
    justify-content: space-between; /* Evenly space items */
    align-items: center; /* Vertically center items */
    text-decoration: none;  
    font-size:x-large;  
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #1a80c4;    
}

.header a {
    padding: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}

.explore{
    padding: 9px;
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: Lobster Two;
    background-color:black;
}

.department-container .department-card span{
    color: red;
}

.department-container{
    border: 2px solid black;
    width: 50%;
    margin-top: 50px;
    margin-left: 370px;  
}

.department-card{
    padding-left: 20px;
}


  
.footer{
    text-align: center;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
